@model IEnumerable<OpenXC.Web.Models.FirmwareUpgradeViewModel>

@{
    ViewBag.Title = "Firmware Upgrades";
}

<h2>Firmware Upgrades</h2>

<a href="@Url.Action("Create")" class="btn btn-primary">Create new upgrade</a>
<hr />
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileHash)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileHash)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
