@model IEnumerable<OpenXC.Web.Models.WebUserViewModel>

@{
    ViewBag.Title = "User List";
}

<h2>Web Users</h2>

<a href="@Url.Action("Create")" class="btn btn-primary">Create new user</a>
<hr />
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Change Password", "ChangePassword", new { userId = item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { userId = item.UserId })
            </td>
        </tr>
    }

</table>
